---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import BlogPost from "../layouts/BlogPost.astro";
---

<BlogPost title="Thato Semoko", description="Software Engineer, and founder">
	<div class="w-5/6 lg:max-w-2xl">
		<h1 class="text-4xl lg:text-6xl font-bold mt-20 pb-10">
			Software engineer and tech enthusiast
		</h1>
		<p class="text-slate-500 leading-6">
			I’m Thato, 
			a software designer and entrepreneur based in Johannesburg City. 
			I’m the founder and CEO of <a href="serobe.co.za/?utm_source=github-page">Serobe</a>, 
			where we help run student residences run better by moving them to an online platform. I am also a
			Tech Lead at AgrigateOne - an agritech startup.
		</p>
	</div>
</BlogPost>