---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
type Props = CollectionEntry<'blog'>['data'];

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<main class="container mx-auto">
			<article>
				<slot />
			</article>
		</main>
	</body>
	<footer class="w-full mx-auto bottom-0 fixed py-10">
		<p class="text-center text-slate-400">Thato Semoko &copy; 2025</p>
	</footer>
</html>
